<!DOCTYPE html>
<html lang="en" class="pp-theme-pipefy pp-theme-custom">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello BoardApp!</title>
    <link rel="stylesheet" media="all" href="https://d3l2kwhcxt3ou6.cloudfront.net/3.9.14/assets/stylesheets/pipestyle.css" />
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>" />
  </head>

  <body>
    <%= render @view_module, @view_template, assigns %>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
